/* src/App.css */

.App {
  text-align: center;
  margin: 20px;
}
.input-tags{
  display: flex;
  justify-content: center;
}
.input-tag{
  display: flex;
  justify-content: center;
}

input {
  padding: 8px;
  margin: 10px;
  width: 300px;
}

button {
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}
.input{
  background-color: #04AA6D; 
  border: none;
  color: white;
}
li {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li button {
  cursor: pointer;
  background-color: #f44336;
  border: none;
  color:white;
}

